.credential-file-field .filepond--root {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.credential-file-field .filepond--drop-label label {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.credential-file-field .filepond--drop-label label svg {
  flex-shrink: 0 !important;
  width: 34px !important;
  height: 34px !important;
}

.credential-file-field .filepond--drop-label label span {
  flex-grow: 1 !important;
  text-align: left !important;
  line-height: 20px !important;
}

.credential-file-field .filepond--file {
  background-color: #e4d2ff !important;
}

.credential-file-field .filepond--file-action-button {
  background-color: white !important;
  border-radius: 100px !important;
  width: 24px !important;
  height: 24px !important;
}

.credential-file-field .filepond--file-action-button svg {
  color: #22283a !important;
}

.credential-file-field .filepond--file-info-main {
  color: #22283a !important;
}

.credential-file-field .filepond--file-info-sub {
  color: #22283a !important;
  opacity: 0.7;
}
