.credential-text-editor .ProseMirror {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: 'Lota Grotesque', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #697086;
  min-height: 65px;
  max-height: 65px;
  width: 100%;
  overflow-y: auto;
}

.credential-text-editor .ProseMirror:focus {
  outline: none;
}

.credential-text-editor .ProseMirror p {
  margin: 0;
  padding: 0;
}

.credential-text-editor .ProseMirror p:first-child {
  margin-top: 0;
}

.credential-text-editor .ProseMirror p:last-child {
  margin-bottom: 0;
}

.credential-text-editor .ProseMirror.ProseMirror-focused {
  outline: none;
}
