.base-root {
	margin-bottom: 0;
	:global(.MuiInputBase-root) {
		border-radius: 1rem;
		background: white;
		padding: 1.5rem 1.25rem;
		box-shadow: 0rem 0.125rem 1.875rem 0rem #e3e0ff;

		:global(input) {
			transform: translate(0, 0.25rem);
		}
	}

	:global(.MuiFormLabel-root:not(.MuiInputLabel-shrink)) {
		transform: translate(1.25rem, 1.5rem) scale(1);
	}

	:global(.MuiInputLabel-shrink) {
		transform: translate(1.25rem, -0.25rem) scale(1);
	}

	:global(.MuiInputBase-input) {
		padding: 0;
	}

	:global(.MuiOutlinedInput-notchedOutline) {
		border: 0;
		outline: none;
	}
}
